* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  width: 100%;
  height: 300px;
}

header img {
  display: block;
  width: 100%;
  height: 300px;
}

main {
  display: flex;
  flex-direction: row;
}

main .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 90px 0;
}

main .info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

main .info > h2:first-of-type {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

main .info > h2:last-of-type {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

main .info p {
  font-size: 15px;
  margin-bottom: 5px;
}

main .desc {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 40px;
}

main .desc hr {
  margin: 10px 0;
}

main .desc p {
  text-align: justify;
  padding-right: 20px;
}

main .desc section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
main .desc section p {
  width: 50%;
}
main .desc section img {
  width: 50%;
  border-radius: 10px;
}